---
import Heading from "./Heading/Heading.astro";
import List from "./List/List.astro";
---

<section
  class="flex justify-center py-12 px-6 bg-gradient-to-br from-sky-500 to-blue-600"
>
  <div class="max-w-5xl w-full">
    <Heading />
    <List />
  </div>
</section>
