---
import Heading from "./Heading/Heading.astro";
import Skills from "./Skills/Skills.astro";
---

<section
  id="tech"
  class="flex justify-center bg-gradient-to-br from-sky-200 to-blue-300 py-12 px-6"
>
  <div class="max-w-5xl w-full">
    <Heading />
    <Skills />
  </div>
</section>
