---
import Navbar from "../components/Navbar/index.astro";
import Hero from "../components/Hero/index.astro";
import Tech from "../components/Tech/index.astro";
import Apps from "../components/Projects/index.astro";

import "../styles/global.css";
---

<head>
	<title>Harsh Vyas | Web & Mobile Dev</title>
	<meta name="description" content="I'm Harsh, a passionate web and mobile developer who loves building better apps." />
</head>
<body>
	<Navbar />
	<main>
		<Hero />
		<Tech />
		<Apps/>
	</main>
</body>
