---
import NavbarButton from "./NavbarButton.astro";
---

<div class="flex items-center gap-8 sm:gap-11">
	<NavbarButton name="Contact" href="mailto:hrvsdev@gmail.com" icon="tabler:mail" />
	<NavbarButton name="Github" href="https://github.com/hrvsdev" icon="tabler:brand-github" />
	<NavbarButton name="Resume" href="/resume.pdf" icon="tabler:notes" />
</div>
