---
import type { ILink } from "./types";

const { href, Icon, name } = Astro.props as ILink;
---

<a
  href={href}
  target="_blank"
  rel="noreferrer"
  class="flex gap-1.5 items-center h-9 sm:h-8 text-slate-700 hover:text-blue-600 active:translate-y-0.5 link-underline"
>
  <Icon className="w-7 h-7 sm:w-6 sm:h-6" />
  <span class="text-lg hidden sm:inline-block">{name}</span>
</a>
