---
import Name from "./Name.astro";
import Badges from "./Badges.astro";
import Links from "./Links.astro";

import type { IProject } from "./types";
import Desc from "./Desc.astro";

const props = Astro.props as IProject;
---

<div class="flex border shadow-xl rounded-xl bg-white/90 backdrop-blur">
  <div class="flex flex-col py-8 px-6 sm:px-8 md:px-6 lg:px-8">
    <Name development={props.development}>
      <slot name="name" />
    </Name>
    <Desc>
      <slot name="desc" />
    </Desc>
    <Badges>
      <slot name="badges" />
    </Badges>
    <Links appLink={props.appLink} githubLink={props.githubLink} />
  </div>
</div>
