@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Plus Jakarta Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar,
body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgb(156, 163, 175);
}

.link-underline {
  background: linear-gradient(currentColor 0 0) bottom / var(--d, 0) 2px no-repeat;
  transition: background 300ms ease-in-out, transform 70ms;
}

@media (pointer: fine) and (hover: hover) {
  .link-underline:hover {
    --d: 100%;
  }
}
