---
import Next from "../Icons/Next.astro";
---

<div
  class="text-white text-[10px] bg-black flex items-center gap-1.5 w-fit h-fit rounded tracking-widest py-1.5 px-2"
>
  <Next />
  NEXT.JS
</div>
